<div class="sidebar-wrapper">
    <div class="logo">
        <a href="http://www.kimera.com/" class="simple-text" target="_blank">
            <div >
                <img src="assets\img\Logo_Kimera.png" width="200px"/>
            </div>
        </a>
    </div>
    

    <ul class="nav responsive-nav">   
       
        <div class="dropdown">
            <button class="btn btn-primary  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seleccionar Pais<i class="fa pe-7s-map"></i></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" *ngFor="let pais of listaPaises; let element = index; " 
                    (click) = "guardarPais(element)">{{ pais.nombrePais }} <i class="fa pe-7s-news-paper"></i></a></li>
            </ul>
        </div>
        
        <br>
        <div class="dropdown">
            <a><b>Pais Selecionado: {{nombrePais}}</b></a>
        </div>
        <br>
        <br>
                
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Consultar Mapas<i class="fa pe-7s-map"></i></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" *ngFor="let menuMapas of menuConsultarMapas; let element1 = index;" [routerLink]="[menuMapas.path]" 
                (click) = "guardarTipo(element1)" >{{menuMapas.title}}<i class='{{menuMapas.icon}}'></i></a></li>
            </ul>
        </div>

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Consultar Textos<i class="fa pe-7s-map"></i></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" *ngFor="let menuTextos of menuConsultarTextos; let element2 = index;" [routerLink]="[menuMapas.path]" 
                (click) = "guardarTipo(element2)" >{{menuTextos.title}}<i class='{{menuTextos.icon}}'></i></a></li>
            </ul>  
        </div>

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Temas Interesantes<i class="fa pe-7s-magic-wand"></i></button>

            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Coordenadas geográficas</a></li>
                <li><a class="dropdown-item" href="#">Meridianos y paralelos</a></li>
                <li><a class="dropdown-item" href="#">Pangea</a></li>
                <li><a class="dropdown-item" href="#">Placas Tectónicas</a></li>
                <li><a class="dropdown-item" href="#">Corrientes Marinas</a></li>
                <li><a class="dropdown-item" href="#">Ciclones tropicales</a></li>
                <li><a class="dropdown-item" href="#">Desiertos</a></li>
                <li><a class="dropdown-item" href="#">Vulcanismo</a></li>
                <li><a class="dropdown-item" href="#">Sismos</a></li>
                <li><a class="dropdown-item" href="#">Efecto Invernadero</a></li>
                <li><a class="dropdown-item" href="#">Destrucción de la capa de ozono</a></li>
                <li><a class="dropdown-item" href="#">Fenómeno del niño</a></li>
            </ul>
        </div>

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Curiosear<i class="fa pe-7s-glasses"></i></button>

            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Banderas<i class="fa pe-7s-flag"></i></a></li>
                <li><a class="dropdown-item" href="#">Escudos<i class="fa pe-7s-shield"></i></a></li>
                <li><a class="dropdown-item" href="#">Himnos<i class="fa pe-7s-musiclist"></i></a></li>
                <li><a class="dropdown-item" href="#">Videos<i class="fa pe-7s-play"></i></a></li>
            </ul>
        </div>


    </ul>
</div>
