<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Inicio
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="https://www.poli.edu.co/content/estudiantes">Proyecto Educativo - Ingeniería de Software - Politécnico Grancolombiano</a>
        </p>
    </div>
</footer>
